<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to (inline_svg('weather.svg', class: "some-class")), root_path %>
    </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Branches", branches_path %></li>
      </ul>
    </div>
  </nav>
