// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media(max-width:767px)
{
  .container{
      height: fit-content;
  }
}
.weather
{
  width: 77%;
}
@media(max-width:767px){
  .weather
  {
      width: 100%;
  }
}
.card{
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 1rem;
  background-color: rgba(238, 237, 237, 0.22);
  border-color: rgba(238, 237, 237, 0.22);
  box-shadow: 5px 6px 6px 2px #e9ecef;
  text-align: center;
}
@media(max-width:768px){
  .card{
      margin: 1.5rem;
  }
}
@media (min-width: 768px){
  .md\:w-2\/3 {
    width: 100%
  }
}
.title-temp{
  justify-content: center;
  position:relative;
  left: 50%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
.title-temp p{
  margin-bottom: 0.2rem;
  font-size: 2.2rem;
}
.temp{
  font-size: 3.6rem;
  margin-bottom: 1rem;
}
.header{
  color: #dddddd;
}
.col-4{
  padding: 0 0.2rem;
}
.icon{
  align-self: flex-end;
  margin-right: -2.5rem;
  margin-top: -2rem;
  z-index: 999;
}
.icon img{
  width: 5rem;
}
.some-class {
  display: block;
  margin: 0 auto;
  fill: #337ab7;
  width: 3.5em;
  height: 3.5em;
}

.cloud-class {
  margin: 0 auto;
  width: 5.5em;
  height: 4.5em;
}

.img-responsive-small
{
  width:50px;
  height:50px;
}

.li-class {
  font-family: inherit;
  font-weight: 500;
  padding: 15px 15px;
  color: #777777;
}

.select-class{
  border: 1px solid #CCC;
  border-radius: 4px 0px 0px 4px;
  height: 35px;
  font-size: 14px;
}

.btn-info-select {
  border-radius: 0px 4px 4px 0px; 
  height: 34px;
}

.paginate-button {
  fill: #337ab7;
  border-color: #337ab7;
  width: 1.45em;
  height: 1.45em;
  text-decoration: none;
}

.accion-button {
  background-color: #337ab7;
  border-color: #2e6da4;
  fill: #ffffff;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 4px 4px;
  font-size: 14px;
  line-height: 1.428571429;
  width: 3em;
  height: 3em;
  border-radius: 4px;
}

th {
  background-color: #337ab7;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}