// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.some-class {
  display: block;
  margin: 0 auto;
  fill: #337ab7;
  width: 3.5em;
  height: 3.5em;
}

.paginate-button {
  fill: #337ab7;
  border-color: #337ab7;
  width: 1.5em;
  height: 1.5em;
  text-decoration: none;
}

.accion-button {
  background-color: #337ab7;
  border-color: #2e6da4;
  fill: #ffffff;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 4px 4px;
  font-size: 14px;
  line-height: 1.428571429;
  width: 3em;
  height: 3em;
  border-radius: 4px;
}

th {
  background-color: #337ab7;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}